<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DemoConnString" connectionString="Data Source=QUWB-01\SQL2014;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=qu90()op"/>
    <add name="DemoConnString2" connectionString="Data Source=QUWB-01\SQL2014;Initial Catalog=Demo2;Persist Security Info=True;User ID=sa;Password=qu90()op"/>
    <add name="HMCCRMRW" connectionString="Server=192.168.87.158;database=HMCCRM;uid=sa;pwd=1qaz@WSX;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>