<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DemoConnString" connectionString="Data Source=QUWB-01\SQL2014;Initial Catalog=Demo;Persist Security Info=True;User ID=sa;Password=qu90()op"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>