<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WASHostService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculate" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8888/calculatorservice" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_ICalculate" contract="Api.Wcf.Calculator.ICalculate"
          name="WSHttpBinding_ICalculate">
        <identity>
          <userPrincipalName value="quwb@tech.bitauto.com" />
        </identity>
      </endpoint>
      <endpoint address="http://www.kf.com/WASHostService.svc" binding="basicHttpBinding"
          bindingConfiguration="WASHostService" contract="Api.Wcf.WAS.WasHost"
          name="WASHostService" />
    </client>
  </system.serviceModel>
</configuration>