@model Learn.Mvc4.Models.Contact

@{
    ViewBag.Title = Model.Name;
}
<br />
@using (Html.BeginForm())
{
    @Html.EditorForModel();
    <br />
    <input type="submit" value="保存" />
}

<div>当前View类型：@this.GetType().AssemblyQualifiedName</div>

