<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <!--WCF4.0 IIS寄宿 IIS寄宿时，4.0后不再需要svc文件，直接在web.config配置-->
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="WASHostService.svc" service="WCF.Service.WASHostService" />
        <add relativeAddress="CalculatorService.svc" service="WCF.Service.CalculatorService" />
        <add relativeAddress="DemoService.svc" service="WCF.Service.DemoService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="WCF.Service.CalculatorService" behaviorConfiguration="metadataBehavior">
        <endpoint binding="basicHttpBinding" address="" contract="WCF.Service.Interface.ICalculate" name="CalculatorService" />
      </service>
      <service name="WCF.Service.DemoService" behaviorConfiguration="metadataBehavior">
        <endpoint binding="basicHttpBinding" address="" contract="WCF.Service.Interface.IDemoService" name="DemoService" />
      </service>
      <service name="WCF.Service.WASHostService" behaviorConfiguration="metadataBehavior">
        <endpoint binding="basicHttpBinding" address="" contract="WCF.Service.Interface.IWASHostService" name="WASHostService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <services>
      <service name="WCF.Service.WASHostService" behaviorConfiguration="MetaDataBehavior">
        <endpoint address="" binding="netTcpBinding" contract="WCF.Service.Interface.IWASHostService"
                   bindingConfiguration="myNetTcp" />
        <endpoint address="mex" binding="netTcpBinding" contract="WCF.Service.Interface.IWASHostService"
                   bindingConfiguration="mexTcp" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="myNetTcp" portSharingEnabled="true"></binding>
        <binding name="mexTcp" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaDataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
</configuration>