<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--客户端通道发送消息：SendMessageClient-->
  <!--<system.serviceModel>
    <client>
      <endpoint name="calculatorservice"
                binding="wsHttpBinding"
                address="http://127.0.0.1:8888/calculatorservice"
                contract="WCF.Service.Interface.ICalculate" />
    </client>
  </system.serviceModel>-->

  <!--配置对应方法：SendMessageClient-->
  <system.serviceModel>
    <client>
      <endpoint name="DemoService"
                binding="wsHttpBinding"
                address="http://127.0.0.1:3721/DemoService"
                contract="WCF.Service.Interface.IDemoService" />
    </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>