<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--可在配置文件中配置-->
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" 
                           httpGetUrl="http://127.0.0.1:8888/calculatorservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCF.Service.CalculatorService" behaviorConfiguration="metadataBehavior">
        <endpoint address="http://127.0.0.1:8888/calculatorservice"
                  binding="wsHttpBinding"
                  contract="WCF.Service.Interface.ICalculate" />
        <endpoint address="net.tcp://127.0.0.1:8888/calculatorservice"
                  binding="netTcpBinding"
                  contract="WCF.Service.Interface.ICalculate" />
      </service>
    </services>
  </system.serviceModel>-->
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>